<app-title  titulo=" defer optio " ></app-title>


<section>
    <h1 class="text-xl"> Interacciones </h1>
    <hr class="my-2">
    @defer (on interaction) {
        <app-heavy-loader-fast cssClass="bg-blue-500 h-20 ">

            <span> On interaction </span>
    
        </app-heavy-loader-fast>
    }@placeholder {
        <div class="w-full h-20 bg-purple-100">
            Click en el div
        </div>
    }
</section>


<section>
    <hr class="my-2">

    <button
    #btnInteraction
    class="p-2 bg-blue-500 hover:bg-blue-700 transition-all rounded text-white my-2"
    >
        Click me!
    </button>

    @defer (on interaction( btnInteraction )) {
        <app-heavy-loader-fast cssClass="bg-blue-500 h-20 ">

            <span> On interaction </span>
    
        </app-heavy-loader-fast>
    }@placeholder {
        <div class="w-full h-20 bg-purple-100">
            place Holder div
        </div>
    }
</section>


<section>
    <hr class="my-2">

    @defer (on hover) {
        <app-heavy-loader-fast cssClass="bg-blue-500 h-20 ">

            <span> On interaction </span>
    
        </app-heavy-loader-fast>
    }@placeholder {
        <div class="w-full h-20 bg-purple-100">
             Hover div
        </div>
    }
</section>


<section>
    <hr class="my-2">
    @defer (on immediate ) {
        <app-heavy-loader-fast cssClass="bg-blue-500 h-20 ">

            <span> On immediate </span>
    
        </app-heavy-loader-fast>
    }@placeholder {
        <div class="w-full h-20 bg-purple-100">
             placeHolder div
        </div>
    }
</section>


<section>
    <hr class="my-2">
    @defer (on timer(2000) ) {
        <app-heavy-loader-fast cssClass="bg-blue-500 h-20 ">

            <span> On timer </span>
    
        </app-heavy-loader-fast>
    }@placeholder {
        <div class="w-full h-20 bg-green-100">
             2 segundos
        </div>
    }
</section>

